# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.DS_Store
chapter04/.idea/misc.xml
chapter04/.idea/workspace.xml
chapter05/.idea/misc.xml
chapter05/.idea/modules.xml
chapter05/.idea/vcs.xml
chapter05/chapter05.iml
chapter06/.idea/misc.xml
chapter06/.idea/modules.xml
chapter06/.idea/vcs.xml
chapter06/chapter06.iml
chapter06_1/settings.gradle
chapter06_1/gradlew.bat
chapter06_1/gradlew
chapter06_1/gradle/wrapper/gradle-wrapper.properties
chapter06_1/gradle/wrapper/gradle-wrapper.jar
chapter06/gradlew.bat
chapter06/gradlew
chapter06/gradle/wrapper/gradle-wrapper.properties
